

<div style="margin-bottom: 10px">
    <div class="card">
        <div class="card-block k-form">
            <fieldset style="margin: 10px">
              <legend>View types</legend>
              <div class="k-form-field">
                  <span style="padding-right: 10px">View:</span>
                  <input [(ngModel)]="bindingType" type="radio" name="mode" id="array" value="all" class="k-radio"
                  (change)="changeBindingType($event)" >
                  <label class="k-radio-label" for="array">All</label>
                  <input [(ngModel)]="bindingType" type="radio" name="mode" id="gridDataResult" value="only2" class="k-radio"
                  (change)="changeBindingType($event)">
                  <label class="k-radio-label" for="gridDataResult">Only2</label>
                  <input [(ngModel)]="bindingType" type="radio" name="mode" id="async" value="only3" class="k-radio"
                  (change)="changeBindingType($event)">
                  <label class="k-radio-label" for="async">Only3</label>
              </div>
            </fieldset>
        </div>
    </div>
  </div>
<kendo-grid
    [data]="gridView"
    [height]="530"
    [sortable]="{
        allowUnsort: allowUnsort,
        mode: multiple ? 'multiple' : 'single'
    }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
>
    <kendo-grid-column *ngFor="let col of columns" [field]="col.field"></kendo-grid-column>
</kendo-grid>