

<div style="margin-bottom: 10px">
    <div class="card">
        <div class="card-block k-form">
            <fieldset style="margin: 10px">
              <legend>View types</legend>
              <div class="k-form-field">
              <kendo-dropdownlist
              [data]="boxViews"
              textField="name"
              valueField="id"
              [(ngModel)]="bindingType"
              (valueChange)="changeBindingType($event)"
              [valuePrimitive]="true"
          >
          </kendo-dropdownlist>
              </div>
            </fieldset>
        </div>
    </div>
  </div>
<kendo-grid
    [data]="gridView"
    [pageSize]="pageSize"
    [pageable]="true"
    [skip]="skip"
    [sortable]="{
        allowUnsort: allowUnsort,
        mode: multiple ? 'multiple' : 'single'
    }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    (pageChange)="pageChange($event)"
>
    <kendo-grid-column *ngFor="let col of columns" [field]="col.field" [title] = "col.title" [hidden]="col.hidden||false" [locked]="col.locked||false" [width]="col.width||200"></kendo-grid-column>
</kendo-grid>